<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <iisnode nodeProcessCommandLine="C:\Program Files (x86)\nodejs\10.24.0\node.exe"
             loggingEnabled="true"
             logDirectory="D:\home\LogFiles\nodejs"
             maxLogFiles="20"
             maxLogFileSizeInKB="1024"/>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Babel Routes" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action type="Rewrite" url="index.js"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough"/>
  </system.webServer>
</configuration>


